@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #53514E;
    font-size: 18px;
}
    a{
        text-decoration: none;
    }

/* header */
header{
    width: 1100px;
    margin: auto;
    height: 70px;

    display: flex;
    justify-content: space-between;

    align-items: center; /* centrado vertical */
}
    header a{
        font-weight: 600;
        color: #53514E;
    }
        header a img{
            width: 50px;
            vertical-align: middle;
            margin-right: 16px;
        }

    nav a{
        padding: 14px;
    }

/* contenido central */    
main{
    min-height: 600px;
}
/* sección index */
    #heroIndex{
        height: 450px;
        background-image: url(../imagenes/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -100px;

        display: flex;
        align-items: center;
    }
    #h1Hero{
        width: 1100px;
        margin: auto;   
    }
        #h1Hero h1{
            color: #F7BB74;
            font-size: 48px;
            width: 280px;
        }
        #h1Hero p{
            width: 330px;
        }

    h2{
        color: #F7BB74;
        text-align: center;
        padding-top: 60px;
    }
    #parrafoIndex{
        text-align: center;
        width: 680px;
        margin: auto;
        padding-top: 30px;
    }

/* footer */
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;

    height: 160px;
    background-color: #807871;
}    

    #contenidoFooter{
        width: 1100px;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        color: #fff;
    }
    #redes img{
        width: 20px;  
        margin-right: 12px;      
    }
    #listas{
        display: flex;
    }
        #listas ul{
            margin-left: 50px;
        }
        .tituloLista{
            padding-top: 10px;
            margin-bottom: 12px;
            font-weight: 600;
        }
        #listas li{
            list-style-type: none;
            margin-top: 5px;
        }